/* CSS pour agrandir les cartes au survol */
.card:hover {
    transform: scale(1.05); /* Ajustez la valeur selon vos préférences */
    transition: transform 0.3s ease; /* Ajoute une transition fluide */
}

.card {
    background-color: black;
}


.card-buttons {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .card-buttons {
    opacity: 1;
}


.comment {
    font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}

body {
    background-color: black;
}

.page-link {
    background-color: black;
    color: white;
}