
/* HEADER */
/* Style pour positionner le logo Cinetech en haut à gauche du carrousel */
.carousel .navbar-brand {
    position: absolute; /* Positionne l'élément en position absolue */
    top: 10px; /* Ajuste la position en haut (vous pouvez modifier la valeur selon vos besoins) */
    left: 10px; /* Ajuste la position à gauche (vous pouvez modifier la valeur selon vos besoins) */
    z-index: 100; /* Assure que le logo soit au-dessus du carrousel */
    margin: 0; /* Supprime les marges de l'élément */
    padding: 0; /* Supprime les espacements internes de l'élément */
}

.carousel-indicators [data-bs-target]{
    background-clip: border-box!important;
}

.navbar {
    transition: background-color 0.3s ease-in-out; /* Transition douce pour la couleur de fond sur 0.5 secondes */
    padding: 0!important;
}

.btn-primary{
    color: rgb(255, 255, 255);
    background-color: #212529;
    border-color: #212529;

}

.btn-primary:hover{
    background-color: rgb(24, 170, 170);
}

.btn-outline-success {
    color: rgb(255, 255, 255);
    background-color: #212529;
    border-color: #212529;
}

.btn-outline-success:hover{
    background-color: rgb(24, 170, 170);
}

/* Dans votre feuille de style ou dans une balise <style> */
.nav-link {
    color: white; /* Définit la couleur du texte des liens de navigation à blanc */
}

.nav-link:hover{
    color: whitesmoke;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    justify-content: right;
}

a{
    color: white;
}

/* Style pour le logo Cinetech */
.carousel .navbar-brand img {
    max-height: 150px; /* Ajuste la hauteur maximale de l'image du logo */
    max-width: auto; /* Ajuste la largeur maximale de l'image du logo */
}

.carousel-indicators{
    color: white;
}

.navbar {
    padding: 20px; /* Ajoute de l'espace à l'intérieur de la barre de navigation */
}

.navbar-nav .nav-item {
    margin-left: 20px; /* Ajoute de l'espace entre les éléments du menu de navigation */
}

#logo1{
    width: 100px;
    height: 100px;
}

button.btn.btn-primary {
    margin: 15px;
}

.text-white{
    text-decoration: none;
    font-size: 1.2rem;
}
  
/* MAIN */

h2{
    color:white;
}

/* Footer */
footer {
    color: white; /* Couleur du texte du footer */
    padding: 20px 0; /* Ajoute de l'espace en haut et en bas du footer */
}
  
/* Container du footer */
footer .container {
    display: flex; /* Utilise Flexbox pour la disposition */
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    align-items: center; /* Aligne les éléments verticalement au centre */
}

/* Texte "Tous droits réservés" centré en dessous des deux */
.footer-bottom {
    text-align: center; /* Centre le texte horizontalement */
    margin-top: 20px; /* Ajoute un espace entre le contenu principal et le texte en bas */
}

#logo2{
    width: 150px;
    height: 150px;
}
  

.py-5 {
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}

.my-5 {
    margin-bottom: 0!important;
    padding-top: 0!important;
}

.mb-3 {
    margin-top: 1rem !important;
}

